$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



body {
  padding: 20px;
  background: #f5f5f5;
}

h2 {
  padding-bottom: 40px;
}

.logo {
  height: 10px;
  vertical-align: middle;
}

.liftago {
  height: 45px;
  vertical-align: middle;
}

/* Custom page footer */
.footer {
  position: absolute;
  bottom: 10px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
